<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Team Sloppy Labwork">
  <title>Starter Template · Bootstrap</title>

  <link rel="canonical" href="https://sloppylabwork.com/cube-builder">

  <!-- Bootstrap core CSS -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-top">
    <div class="container">
      <a class="navbar-brand" href="#">Cube Builder</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main role="main" class="container">
    {% block content %}
    <!-- Page content -->
    {% endblock %}
  </main>
</body>

</html>